<table class="table">
  <tr>
    <th></th>
    <th>1 date package</th>
    <th>3 date package</th>
    <th>5 date package</th>
    <th>10 date package</th>
  </tr>
  <tr>
    <td>No installment <my-payment></my-payment> </td>
    <td *ngFor="let payment of payments">
      <my-payment [payment]="payment"></my-payment>
    </td>
  </tr>
  <tr>
    <td>3 months installment</td>
    <td></td>
    <td>S$595.00
      <br>
      <input type="image" src="app/images/subscribe.gif">
    </td>
    <td>S$655.00
      <br>
      <input type="image" src="app/images/subscribe.gif">
    </td>
    <td>S$835.00
      <br>
      <input type="image" src="app/images/subscribe.gif">
    </td>
  </tr>
  <tr>
    <td>6 months installment</td>
    <td></td>
    <td>S$297.50
      <br>
      <input type="image" src="app/images/subscribe.gif">
    </td>
    <td>S$327.50
      <br>
      <input type="image" src="app/images/subscribe.gif">
    </td>
    <td>S$417.50
      <br>
      <input type="image" src="app/images/subscribe.gif">
    </td>
  </tr>
</table>
