<p class="price" *ngIf="!plan.count">{{plan.itemName}} <br><span>${{plan.amount}} SGD</span></p>
<p class="price" *ngIf="plan.count">{{plan.itemName}} <br> ${{plan.amount}} SGD for each month, for {{plan.count}}
  instalments
  <br><span>${{plan.amount}} SGD</span></p>

<form>
  <div class="form-group">
    <label>Card Number</label>
    <input [(ngModel)]="card.cardNumber" name="cardNumber" type="text" size="20">
  </div>
  <div class="form-group">
    <label>Expiration (MM/YY)</label>
    <input [(ngModel)]="card.expMM" name="expMM" type="text" size="2">
    /
    <input [(ngModel)]="card.expYY" name="expYY" type="text" size="4">
  </div>
  <div class="form-group">
    <label>CVC</label>
    <input [(ngModel)]="card.CVC" name="CVC" type="text" size="4">
  </div>
  <input (click)="submit()" type="submit" class="btn btn-primary" value="Submit Payment">
</form>

<p *ngIf="progress==0" style="color: red;">Opps, something is wrong!</p>
<p *ngIf="progress==1" style="color: green;">Thanks for purchasing</p>
<p *ngIf="progress==2" style="color: blue;">Progressing...</p>
