<table class="table">
  <tr>
    <th></th>
    <th>1 date package</th>
    <th>3 date package</th>
    <th>5 date package</th>
    <th>10 date package</th>
  </tr>
  <tr>
    <td>No installment</td>
    <td *ngFor="let payment of payments">
      S${{payment.amount}}
      <br>
      <input (click)="choosePayment(payment)" type="image" src="app/images/buy-now.gif">
    </td>
  </tr>
  <tr>
    <td>3 months installment</td>
    <td></td>
    <td *ngFor="let plan of plans['3']">
      S${{plan.amount}}
      <br>
      <input (click)="choosePayment(plan)" type="image" src="app/images/subscribe.gif">
    </td>
  </tr>
  <tr>
    <td>6 months installment</td>
    <td></td>
    <td *ngFor="let plan of plans['6']">
      S${{plan.amount}}
      <br>
      <input (click)="choosePayment(plan)" type="image" src="app/images/subscribe.gif">
    </td>
  </tr>
</table>
